# Android Studio / IDEA files
.idea/
*.iml
.gradle/

# Build outputs
build/
app/build/
*.apk
*.aab

# Local / Machine-specific settings
local.properties
.DS_Store
Thimbs.db

# C/C++ build outputs (if using NDK)
.externalNativeBuild
.cxx
captures/